/* Styles for the html tag */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Formatting for main body*/
body {
  background-image: url("../images/wood.jpg");
  background-color: black;
}

main {
  /*background-image: url("../images/parchment.jpg");*/
  background-color: #ebd5b3;
  margin: 0 10% 0 10%;
  width: 80%;
  padding: 2em;
}

div.checklist{
  width: 100%;
  font-family: cursive;
  padding: 2em;
}

.checklist .listHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

h1.listTitle {
  display: inline-block;
  margin-left: 0;
}
div.add.button {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.5em;
  width: 5em;
  height: 2em;
  text-align: center;
  cursor: pointer;
}

header, footer {
  text-align: center;
  color: white;
  background-image: url("../images/leather.jpg");
  width: 80%;
  margin: 0 10% 0 10%;
  min-height: 8em;
  padding: 3em;
}

